<nav class="breadcrumb is-centered" role="navigation" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to 'search', root_path %></li>
    <li><%= link_to 'booking', bookings_path %></li>
    <li><%= link_to 'payment', new_charge_path %></li>
    <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
  </ul>
</nav>
