<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odin Booking.com,</h1>
      Passengers:
  <ul>
    <% @booking.passengers.each do |passenger| %>
      <li><%= passenger.first_name %></li>
    <% end %>
  </ul>
    <p>
      You have successfully booked a flight
    </p>
    <p>Thanks for trying out my project. Find out more <a href="https://violetguos.github.io/">about me here.</a></p>
  </body>
</html>
