<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com,</h1>
      Passengers:
  <ul>
    <% @booking.passengers.each do |passenger| %>
      <li><%= passenger.first_name %></li>
    <% end %>
  </ul>
    <p>
      You have successfully signed up
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
