Welcome to Odin Booking, <ul>
    <% @booking.passengers.each do |passenger| %>
      <li><%= passenger.first_name %></li>
    <% end %>
  </ul>
===============================================

You have successfully signed up to example.com,

Thanks for joining and have a great day!