<html>

<body>
  <h1 class="title">No transaction happened</h1>
  <section>
    <p class="content">
      I appreciate your visit! It's only a side project and I don't have a real Stripe API access key. 
      If you liked this project, please reach me @
      <a href="https://violetguos.github.io/">my website</a>.
    </p>
  </section>
</body>
</html>