<div class="notification is-success">
  <button class="delete"></button>
  Sucess! You just booked a fictional vacation <strong>for free</strong>!
</div>

  <section>
    <p class="content">
      I appreciate your visit! It's only a side project and I don't have a real Stripe API access key. 
      If you liked this project, please reach me @
      <a href="https://violetguos.github.io/">my website</a>.
    </p>
  </section>
